:root {
    --btn-regular-color: red;
    /* Regular state color */
    --btn-hover-color: blue;
    /* Hover state color */
    --btn-active-color: green;
    /* Active state color */
    --btn-text-color: white;
}

.btn-outline {
    background-color: transparent;
}

.btn-solid {
    background-color: var(--btn-regular-color);
}

.btn-outline,
.btn-solid {
    color: var(--btn-text-color);

    /* box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5),
        0 0 0.5rem 0 rgba(0, 0, 0, 0.3) inset; */

    font-family: unset;
    font-weight: 700;
    text-transform: uppercase;

    height: max-content;
    width: max-content;

    border: solid 0.3em var(--btn-regular-color);
    border-radius: 1em;

    padding: 1em 2em;

    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.btn-outline:hover,
.btn-solid:hover {
    background-color: var(--btn-hover-color);
    color: white;
    /* box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5); */
}

.btn-outline:active,
.btn-solid:active {
    background-color: var(--btn-active-color);
    border-color: var(--btn-active-color);
}

.btn-none {
    background-color: transparent;
    border: solid 0.1em transparent;
    border-radius: 5em;
    cursor: pointer;
    padding: 0.3em;

    transition: all ease-in-out 0.15s;
}

.btn-none:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-none:active {
    background-color: rgba(255, 255, 255, 0.6);
}