.password-visibility-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
}

/* .password-field-container {
    display: flex;
    flex: 1;
    width: 100%;
} */