:root {
    --background-color: black;
    --text-color: white;
}

.box-container {
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: var(--background-color);
    color: var(--text-color);

    height: max-content;
    display: inline-block;

    z-index: 10;
    transition: border, box-shadow, background-color 0.5s;
}

.box-container-transparent {
    border: transparent;
    background-color: transparent;
    color: var(--text-color);
    box-shadow: none;
    z-index: 10;
    height: max-content;
    display: inline-block;
    transition: border, box-shadow, background-color 0.5s;
}