#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-container {
    height: 50rem;
    width: 100%;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.cluster-map-container {
    width: 100%;
    height: 100vh;
    background-color: #303030;
    display: flex;
        position: relative;
}

#cluster-map {
height: 100%;
width: 100%;
    /* flex: 1 2 100%; */
        /* justify-content: end; */
        transition: all 1s ease-in-out;
    }
    
#selected-workspaces {  
height: 100%;
width: 0;
flex: 2 1 0%;

padding-top: 5rem;
padding-inline: 2rem;

overflow-y: scroll;

/* justify-content: start; */
background-color: rgb(159, 159, 159);
transition: all 1s ease-in-out;
}
    
    .drawer-open #cluster-map {
        left: 30%;
        flex-basis: 60%;
    }
    
    .drawer-open #selected-workspaces {
        /* width: 40vw; */
        flex-basis: 40%;
    }
    
    .drawer-closed #cluster-map {
        left: 50%;
        flex-basis: 100%;
        width: 100%;
    }
    
.drawer-closed #selected-workspaces {
    flex-basis: 0%;
    width: 0;
}
        

#minimap {
    width: 90%;
    height: 90%;
    border-radius: 5rem;
}

#cluster-map {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .minimap-container {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 6rem;
    background-color: rgba(0, 0, 0, 0)
    }
    
    */